In [1]:
#Import Processed Dataset
import os
import pandas as pd

processed_path = 'Data/Processed/Womens_Clothing_E-Commerce_Reviews_Processed.csv'
if os.path.exists(processed_path):
    df = pd.read_csv(processed_path)
    print("Loaded processed dataset.")
    print(f"Shape: {df.shape}")
    display(df.head())
else:
    raise FileNotFoundError(f"File not found: {processed_path}")

Loaded processed dataset.
Shape: (22640, 13)

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,Sentiment,processed_text,age_group
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,positive,absolutely wonderful silky sexy comfortable,30-39
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,positive,love sooo pretty happened find store glad neve...,30-39
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,neutral,high hope really wanted work initially ordered...,60-69
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,positive,love love love jumpsuit fun flirty fabulous ev...,50-59
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,positive,flattering due adjustable front tie perfect le...,40-49